body{
    display: flex;
    justify-content: center;
    margin-top: 33vh;
    font-weight: bolder;
    font-size: larger;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 410px;
    gap: 10px;
    padding-bottom: 10px;
    border: 10px solid rgb(41, 40, 40);
    border-radius: 1cap;
}

.row{
    display: flex;
    justify-content: space-around;
    width: 395px;
    gap: 5px;
}

#display{
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgb(205, 202, 202);
    width: 370px;
    height: 70px;
}

#rd{
    display: flex;
    justify-content: center;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex: 1;
    border-radius: 1cap;
    font-weight: bold;
    font-size: x-large;
}

#zero{
    flex: 2;
}

.zrow{
    gap: 7.5px
}

.blue{
    background-color: rgb(36, 112, 243);
}

.orange{
    background-color: rgb(255, 179, 0);
}

.green{
    background-color: rgb(10, 136, 155);
}