body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    font-weight: bolder;
    font-size: larger;
    gap: 25px;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 410px;
    gap: 10px;
    padding-bottom: 10px;
    border: 10px solid rgb(41, 40, 40);
    border-radius: 1cap;
}

.row{
    display: flex;
    justify-content: space-around;
    width: 395px;
    gap: 5px;
}

#display{
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgb(205, 202, 202);
    width: 370px;
    height: 70px;
}

#rd{
    display: flex;
    justify-content: center;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex: 1;
    border-radius: 1cap;
    font-weight: bold;
    font-size: x-large;
}

#zero{
    flex: 2;
}

.zrow{
    gap: 7.5px
}

.blue{
    background-color: rgb(36, 112, 243);
}

.orange{
    background-color: rgb(255, 179, 0);
}

.green{
    background-color: rgb(10, 136, 155);
}


.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  width: 60px; /*=w*/
  height: 30px; /*=h*/
  margin: 4px;
  transform: translateY(50%);
  position: relative;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #38f109, 0 0 4px #39e70d;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #01a028;
  border-radius: 30px;
  transform: translateX(-30px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(30px); /*translateX(w-h)*/
  background-color: rgb(235, 24, 24);
}

input:checked + .slider
{
  box-shadow: 0 0 0 2px rgb(243, 0, 0), 0 0 8px rgb(255, 59, 59);
}
